<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" 
             Name="Moses - Universal Filesystem Bridge" 
             Language="1033" 
             Version="$(var.Version)" 
             Manufacturer="Moses Team" 
             UpgradeCode="12345678-1234-1234-1234-123456789012">
        
        <Package InstallerVersion="300" 
                 Compressed="yes" 
                 InstallScope="perMachine" 
                 Platform="x64" />
        
        <MajorUpgrade DowngradeErrorMessage="A newer version of Moses is already installed." />
        
        <MediaTemplate EmbedCab="yes" />
        
        <Icon Id="ProductIcon" SourceFile="$(var.Icon)" />
        <Property Id="ARPPRODUCTICON" Value="ProductIcon" />
        <Property Id="ARPNOREPAIR" Value="1" />
        
        <!-- Features -->
        <Feature Id="MainFeature" Title="Moses Core" Level="1" Absent="disallow">
            <ComponentGroupRef Id="MainComponents" />
            <ComponentGroupRef Id="WinFspComponents" />
        </Feature>
        
        <Feature Id="DesktopShortcut" Title="Desktop Shortcut" Level="1">
            <ComponentRef Id="DesktopShortcut" />
        </Feature>
        
        <!-- UI Configuration -->
        <UIRef Id="WixUI_FeatureTree" />
        <UIRef Id="WixUI_ErrorProgressText" />
        
        <!-- Custom UI Sequence to include WinFsp dialog -->
        <UI>
            <DialogRef Id="WinFspDialog" />
            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
            <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="WinFspDialog">
                NOT WINFSPINSTALLED
            </Publish>
            <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="CustomizeDlg">
                WINFSPINSTALLED
            </Publish>
            <Publish Dialog="WinFspDialog" Control="Next" Event="NewDialog" Value="CustomizeDlg">1</Publish>
            <Publish Dialog="WinFspDialog" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
        </UI>
        
        <!-- License -->
        <WixVariable Id="WixUILicenseRtf" Value="$(var.License)" />
        
        <!-- Add to PATH -->
        <Component Id="AddToPath" Guid="87654321-4321-4321-4321-210987654321" Directory="TARGETDIR">
            <Environment Id="PATH" 
                         Name="PATH" 
                         Value="[INSTALLDIR]" 
                         Permanent="no" 
                         Part="last" 
                         Action="set" 
                         System="yes" />
        </Component>
        
        <!-- Desktop Shortcut -->
        <Directory Id="DesktopFolder" Name="Desktop">
            <Component Id="DesktopShortcut" Guid="11111111-2222-3333-4444-555555555555">
                <Shortcut Id="DesktopShortcut"
                          Name="Moses"
                          Description="Universal Filesystem Bridge"
                          Target="[INSTALLDIR]moses.exe"
                          WorkingDirectory="INSTALLDIR"
                          Icon="ProductIcon" />
                <RemoveFolder Id="DesktopFolder" On="uninstall" />
                <RegistryValue Root="HKCU" 
                               Key="Software\Moses" 
                               Name="DesktopShortcut" 
                               Type="integer" 
                               Value="1" 
                               KeyPath="yes" />
            </Component>
        </Directory>
    </Product>
</Wix>